/* Propriétés principales*/
body {
    background-color:#FAFAFA;
    max-width: 100%;
    height: 100%;
    margin:0;
}

main {
    height: 100%;

}
.container {
    max-width: 1000px;
    justify-content: center;
    margin:auto;
    
}
/* PARTIE NAVBAR*/

/** liseré violet**/


header{
    background-color: #4A3174;
    height:8px;
    width: 100%;

}

/** navbar**/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-right: 90px;
    max-width: 1000px;

    
}

.nav li:nth-child(4){
    display: none;
}
.nav li:nth-child(5){
    display: none;
}
.nav li:nth-child(6){
    display: none;
}
.burgerimg{
    display: none;
}


/* burgermenu */

#buttonmenu{
    background: #4A3174;
    display: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    width: auto;
    border-radius: 5px;

}

.navbar{
    width: auto;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    padding-left:10px ;
    margin-left: 10px;

}

@media(max-width:800px){
    #buttonmenu{
        display: flex;
    }
    ul.nav{
        display: none;
    }
    .boutton{
        display: none;
    }
}

@media(max-width:800px){
    .navbar{
        display: none;
    }
}
@media(max-width:800px){
    .burgerimg{
    display: flex;
    height:20px;
    width: 20px;
}
}

@media(max-width:800px){
    .nav li:nth-child(5){
        display: flex;
    }
}
@media(max-width:800px){
    .nav li:nth-child(6){
        display: flex;
    }
}
@media(max-width:800px){
    .nav li:nth-child(4){
        display: flex;
    }
}



@media(max-width:800px){
    nav {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    }
}

@media(max-width:800px){
    .nav {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    }
}

@media(max-width:800px){
    .boutton {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    }
}
@media(max-width:800px){
    button.subscribe{
    display: none;

    }
}
@media(max-width:800px){
    button.loggin{
    display: none;
    }
}


.nav{
    list-style-type: none;
    display: inline-flex;
    color:#9D9D9D;
    font-weight: 400;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 23px;
}

.nav li:nth-child(1){
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #4A3174;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 10px;
}

.boutton{
    justify-content: space-between;
    position: relative;
    top:10px; 

}

.loggin{
    background-color:#FAFAFA;
    color:#9D9D9D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size:17px;
    width: 163px;
    height: 20px;
    border:none;
}
.subscribe {
    background-color: #4A3174;
    color:white;
    width: 163px;
    height: 40px;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size:17px;

}




/** banner **/

.banner {
    display: flex;
    margin-bottom: 100px;
    margin-top:100px;
    width: 100%;
    justify-content: space-between;
}

.banner h1 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #4A3174;
}

.banner p {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
    position: relative;
    top:100px;
    left:-164px;
}

.banner input{
    border:none;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    width: 441px;
    height: 40px;
    padding-left:20px;
}

input::placeholder{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #9D9D9D;
    
}

.banner button {
    width: 63px;
    height: 40px;
    background: #4A3174;
    border-radius: 0px 3px 3px 0px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #F2F2F2;

}
form {
    display: flex;
    margin-top:64px;
}
@media (max-width: 800px){
    .formbar{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px){
    .banner{
        display: flex;
        flex-direction: column;
    }
}

.logosite{
    display: flex;
}
/**recommandation**/

@media (max-width: 800px){
    .card:nth-child(2){
        display: none;
    }
}
.recommandation {
    display:flex;

}

.recommandation > h2{

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #4A3174;
}


#cards{
    display: flex;
}
.card {
    width: 293px;
    height: 488px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.07);
    justify-content: center;
    display: block;
    margin-left:20px;
    margin-top:20px;
    margin-right: 20px;
    margin-bottom: 103px;
    padding-bottom: 30px;
}

.card > img {
    margin-left: 20px;
    margin-top:20px;
    margin-right: 20px;
    
}

.card > p {
    margin-left: 20px;
}
.card > p:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #222222;
}

.card > p:nth-child(3){
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #7A7A7A;
}

.card > p:nth-child(4){

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #4A3174;
    opacity: 0.42;
}


/** items moins de 20€ **/
    /** titre section**/
.promotion{
    display: inline-flex;

}

.promotion >h2 {

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #4A3174;
}

    /** product cards**/

.card-product{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.07);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    width: auto;
}
#listitems{
    width: 100%;
}


.card-product:hover{
    box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.79);
    background-color: #ffffff;
}
.card-product:hover p{
    color:#EAAA08;
    font-size: 27px;
}

.card-product-info:hover p:nth-child(3){
    color:black;
}


.card-product >img{
    height: 81px;
    width: 117px;
}
  
.card-product > p {
    position:relative;
    top:-66px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #4A3174;
    opacity: 0.42;
}
.card-product-info > h2 {
 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #222222;
}

.card-product-info > p:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
}

.card-product-info > p:nth-child(3){
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;  
    color: #CBCBCB;
}


/**footer**/

footer {
    background-color:  #4A3174;
    height: 100%;
    margin-top:50px;

}

/** bulles et titre**/
.logofooter{
    display: flex;
    position: relative;
    left:14px;
}


.logofooter h3{
    color:#F2F2F2;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    display: inline-flex;
}


   /** menu footer**/
.footermenu {
    display: inline-flex;
    line-height: 16px;
    position: relative;
    left:214px;

}
.footermenu >ul {
    list-style-type: none;
    color:#E3E3E3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
    font-size: 14px;
    line-height: 30px;
}

.footermenu >li {
    line-height: 16px;
}

li:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.07);
    border-radius: 3px;
}

@media (max-width: 800px){
    ul:nth-child(3){
        display: none;
    }
}